# Node.js dependencies
node_modules
package-lock.json

# Environment variables (DO NOT PUSH API keys!)
.env

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# IDE and OS-specific files
.DS_Store
.vscode
*.log
